%h1 Editing research
= render 'form'
\#{link_to 'Back', :back}

= link_to "new contact", new_job_research_contact_path(@job, @research)
= link_to "new note", new_job_research_note_path(@job, @research)
