<p id="notice"><%= notice %></p>

<p>
  <strong>Research things:</strong>
  <%= @research.research_things %>
</p>

<%= link_to 'Edit', edit_research_path(@research) %> |
<%= link_to 'Back', researches_path %>
