%header
  %h1 Interviews
  %div {{#}}

- @interviews.each do |interview|
  = link_to job do
    %section
      %h2= interview.type
      %h3= interview.thank_you

    / %p= link_to 'Show', interview
    / %p= link_to 'Edit', edit_interview_path(interview)
    / %p= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Interview', new_job_interview_path
