<p id="notice"><%= notice %></p>

<p>
  <strong>Network things:</strong>
  <%= @network.network_things %>
</p>

<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
