%header
  %h1 Job Details
  %div {{#}}

- @jobs.each do |job|
  = link_to job do
    %section
      %h2= job.position
      %h3= job.company
      %div
        %p {{#}}% Completed
<<<<<<< HEAD
=======
      // %p= link_to 'Show', job
      // %p= link_to 'Edit', edit_job_path(job)
      // %p= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Job', new_job_path

%div.alert-bad
  this is a bad alert
  %a{href: "#"} x

%div.alert-good
  this is a good alert
  %a{href: "#"} x

%div
  %button.toolbar_button
    Back to dashboard
  %button.secondary_button
    No
  %button.new_job_button
    Add new job entry
  %button.add_button
    &
%button.add_button
  &
>>>>>>> 56e8a21ee7b90859103c7ae63eaf72a21311c128
