%header
  %h1 Job Details
  %div {{#}}

- @jobs.each do |job|
  = link_to job do
    %section
      %h2= job.position
      %h3= job.company
      %div
        %p {{#}}% Completed
      // %p= link_to 'Show', job
      // %p= link_to 'Edit', edit_job_path(job)
      // %p= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Job', new_job_path
