%header
  %h1 Job Entries

- @jobs.each do |job|
  = link_to job do
    %section.job_entry_item
      %div
        %h2= job.title
        %h3= job.company_name
        %div
          %h4 % Completed

%button.new_job_button
  = link_to 'New Job', new_job_path
