<%= render @job %>

<% content_for :substep do %>
  <% @job.networks.each do |network| %>
    <p>
      <strong>Contacts:</strong>
      <%= network.contacts %>
    </p>

    <p>
      <strong>Date And Time</strong>
      <%= network.date %>
    </p>

    <p>
      <strong>Done?</strong>
      <%= network.done %>
    </p>
  <% end %>
<% end %>
