<p id="notice"><%= notice %></p>

<p>
  <strong>Application things:</strong>
  <%= @job_application.application_things %>
</p>

<%= link_to 'Edit', edit_job_application_path(@job_application) %> |
<%= link_to 'Back', job_applications_path %>
