// A module is a singular functional deliverable
// which will be unchanged in form, functionality and content.
// Examples are site header, main navigation and footer.
// One could argue that a module is engineered as a 'plug-n-play' element.
// Modules and UI Patters can be directories unto themselves.


//-----alerts-----//
@mixin alert($color, $type) {
  .alert-#{$type} {
    width: 100%;
    line-height: 2em;
    text-align: center;
    background: $color;
    color: #fff;
    padding-left: 5%;
    border-bottom: 1px solid$golf_color_charlie;
    text-transform: uppercase;
    & a {
      position: relative;
      float: right;
      padding-right: 5%;
      text-decoration: none;
      color: $foxtrot_primary;
      font-size: 1em;
      font-family: Lato;
      font-weight: 700;
      &:hover {
        color: $delta_color;
      }
    }
  }
}


//-----Flex-----//

@mixin flexy($direction: row, $wrap: nowrap, $content-direction: space-between, $alignment: space-around, $align-items: center) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
  -webkit-flex-flow: $wrap $direction;
  -moz-flex-flow: $wrap $direction;
  -ms-flex-flow: $wrap $direction;
  flex-flow: $wrap $direction;
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
  justify-content: $content-direction;
  -webkit-justify-content: $content-direction;
  -moz-justify-content: $content-direction;
  -ms-justify-content: $content-direction;
  justify-content: $content-direction;
  -webkit-align-content: $alignment;
  -moz-align-content: $alignment;
  -ms-align-content: $alignment;
  align-content: $alignment;
  -webkit-align-items: $align-items;
  -moz-align-items: $align-items;
  -ms-align-items: $align-items;
  align-items: $align-items;
}
