@import "mixins";

//-----Alerts------
@include alert($alpha_color, bad);
@include alert($bravo_color, good);

//-----Main Header-----
.main_header {
  @include flexy();
  background-color: $header_background;
  width: 100%;
  height: 4em;
  padding: 1.5em;
}

.signup {
  color: $charlie_color;
  text-transform: uppercase;
}

//-----Sub-Headers-----
.list_header {
  border-bottom: 1px solid $golf_color_charlie;
  height: 3em;
  padding: 0 1em;
}

.list_selected_job {
  @extend .list_header;
  height: 4.5em;
  padding: 1em 1em 0em 1em;
  & h2 {
    color: $alpha_color;
  }
  & h3 {
    color: $alpha_color;
  }
}

.content_header {
  @extend .list_header;
  background-color: $delta_color;
}


//------Step Header-----
.number {
  height: 2.2em;
  width: 2.2em;
  text-align: center;
  display: inline-block;
  float: left;
  margin-right: 1.5em;
  & h2 {
    font-family: Oswald;
    font-weight: 700;
    font-size: 1em;
    letter-spacing:.02em;
    color: $delta_color;
    background: $echo_color;
    border-radius: 50%;
    line-height: 215%;
    text-transform: uppercase;
  }
}


//-----Step Title------

.number_title {
  height: 100%;
  width: 1.75em;
  text-align: center;
  display: inline-block;
  float: left;
  margin-right: 1em;
  & h3 {
    font-family: Oswald;
    font-weight: 700;
    font-size: .7em;
    letter-spacing: .02em;
    color: $delta_color;
    background: $echo_color;
    border-radius: 50%;
    line-height: 250%;
  }
}

.step_title {
  width: 100%;
  display: inline-block;
  padding-left: 1em;
  & h2 {
    font-family: Oswald;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: .02em;
    border-radius: 50%;
    line-height: 215%;
    text-transform: uppercase;
  }
}

//-----Job Entry Item-----

.job_entry_item {
  width: 100%;
  padding: .7em .7em .7em 1.5em;
  background: $golf_color;
  &:hover {
    background: $delta_color;
    box-shadow: inset -.6em 0em 0em $bravo_color;
  }
}

//-----Content Articles------

.step_content {
  @include span-columns(8);
  @include shift(2);
  p {
    width: 100%;
    display: block;
    border-radius: 0.5em;
    padding: 0.5em;
    border: 0.2em solid $input_border;
    outline: none;
    margin-bottom: 1.5em;
  }
}

.steptitle_grid {
  @include span-columns(8);
  @include shift(2);
}

.steptitle_width {
  width: 25em;
}

.steptitle_flex {
  @include flexy(row, nowrap, space-between, center, center);
}


//-----Tooltip------

// .tooltip {
//     display: inline;
//     position: relative;
// }

// .tooltip:hover {
//     color: #c00;
//     text-decoration: none;
// }

// .tooltip:hover:after {
//     background: #111;
//     background: rgba(0,0,0,.8);
//     border-radius: .5em;
//     top: 2.5em;
//     color: #fff;
//     content: attr(title);
//     display: block;
//     padding: 1em 1em;
//     position: absolute;
//     left: -2.2em;
//     text-shadow: 0 1px 0 #000;
//     white-space: nowrap;
//     z-index: 98;
// }

// .tooltip:hover:before {
//     border: solid;
//     border-color: #111 transparent;
//     border-color: rgba(0,0,0,.8) transparent;
//     border-width: 0em .6em .6em .6em;
//     bottom: -1.3em;
//     left: 1.2em;
//     content: "";
//     display: block;
//     position: absolute;
//     z-index: 99;
// }
