@import "typography/web_fonts";

$font_size: 16em;

html {
  font: em($font_size, 16) 'Lato';
  line-height: baseline($font_size);
  color: $echo_color;
}

h1 {
  font-family: Oswald;
  font-weight: 500;
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing:.02em;
}

h2 {
  font-family: lato;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing:.02em;
  color: $echo_color_bravo;
}

h3 {
  font-family: lato;
  font-weight: 500;
  font-size: .75em;
  letter-spacing:.02em;
  text-transform: uppercase;
  color: $echo_color_delta;
}

h4 {
  font-family: lato;
  font-weight: 500;
  font-size: .55em;
  letter-spacing:.02em;
  text-transform: uppercase;
  color: $bravo_color;
  margin-top: .75em;
}
