// Global page header
<<<<<<< HEAD

%a.logo{:href => '/jobs'}
%a{:href => "#"}
  %div.profile Avatar
=======
%header.main_header
  %a.logo{:href => "#"} [LOGO]
  %div
    %a{:href => "#"} Sign in
    %a{:href => "#"} Logout
>>>>>>> 56e8a21ee7b90859103c7ae63eaf72a21311c128

