// Toolbar on left side

%button.new_job_button= link_to 'Add Job', new_job_path
%button.toolbar_button= link_to 'Dashboard', jobs_path
%button.toolbar_button{:href => "#"} View Notes
%button.toolbar_button{:href => "#"} View Contacts
%button.toolbar_button{:href => '/jobs/done'} View Completed
