// Toolbar on left side

%button= link_to 'Add Job', new_job_path
%button= link_to 'Dashboard', jobs_path
%button{:href => "#"} View Notes
%button{:href => "#"} View Contacts
%button{:href => "#"} View Completed
